<html>
    <head>
        <title>Redis Tasks</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
        <style>
            .del:checked + span {
                color: red;
            }
            .task-list {
                list-style: none;
            }
        </style>
    </head>
    <body>
        <form method="POST" action="/task/add">
            <label>Add Tasks</label>
            <input type="text" name="task" placeholder="Add Task">
            <input type="submit" value="Submit">
        </form>

        <%= title %>

        <form method="POST" action="/task/delete">
            <ul class="task-list">
            <% tasks.forEach(function(task) { %>
                <li>
                    <label>
                        <input type="checkbox" name="tasks" class="del" value="<%= task %>">
                        <span><%= task %></span>
                    </label>
                </li>
            <% }) %>
            </ul>
            <input type="submit" value="Remove">
        </form>

        <h3>Next Business Call</h3>
        <span>Name: </span><span><%= call.name %></span><br>
        <span>Company: </span><span><%= call.company %></span><br>
        <span>Phone: </span><span><%= call.phone %></span><br>
        <span>Time: </span><span><%= call.time %></span><br>

        <h3>Edit Next Call</h3>
        <form method="POST" action="/call/add">
            <label>Contact Name</label><br>
            <input type="text" name="name" placeholder="Task Name">
            <br><br>
            <input type="text" name="company" placeholder="Company">
            <br><br>
            <label>Phone</label><br>
            <input type="text" name="phone" placeholder="Phone">
            <br><br>
            <label>Day & Time</label><br>
            <input type="text" name="time" placeholder="Time">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>